.container{
    position: relative;
    color: white;
    border: 5px solid #1b1a1a;
    border-radius: 1rem;
    padding: 0.1rem;
    background:#222121;
    width: 14vw;

}   
.edit-button{
    position:absolute;
    left: 90%;
    top: 10%;
    transform: translate(-50%,-50%);
}
mat-icon{
    transform: scale(0.8);
}

mat-form-field{
    width: 40%;
    height: 1.5rem;
}
.nivel{
    width: 80%;
    height: 1.5rem;
}

.form{
   margin-bottom: 1rem;
}

.nivel-text{
    font-size: 1.2rem;

}