mat-form-field {
    display: block;
    color: white;
}


.formDiv{
    position: absolute;
    width: 40%;
    max-width: 320px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #1b1a1a;
    border-radius: 1rem;
    padding: 1rem;
    background:#222121;
}

.loginButton{
    width:6.5rem;
}

.registrarButton{

    
    color: white;
}

.buttonDiv{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.loading{
    display: flex;
    justify-content: center;
}
.spinner{
    height: 1.1rem;
    width: 1rem;
    border: 0.5rem solid;
    border-color: white transparent white transparent;
    border-radius: 50%;
    animation: spin 1.4s ease infinite;
}

@keyframes spin{
    to {
        transform: rotate(360deg);
    }
}