
body{
    margin:0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #222121;
    position: relative;
}
.img1{
    position:absolute;
    height: 100vh;
    width: 100%;
    background-color: #222121;
    background-image: url("/assets/images/wildwest-dark-background-1.jpg");
    background-size:cover;
    background-position:top;
    background-repeat:no-repeat;
    background-attachment:fixed;
}
.img2{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: #222121;
    background-image: url("/assets/images/wildwest-dark-background-2.jpg");
    background-size: cover;
    background-position:top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.img3{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: #222121;
    background-image: url("/assets/images/wildwest-dark-background-3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.img4{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: #222121;
    background-image: url("/assets/images/wildwest-dark-background-4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.img5{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: #222121;
    background-image: url("/assets/images/wildwest-dark-background-5.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.img6{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: #222121;
    background-image: url("/assets/images/wildwest-dark-background-6.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.img7{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: #222121;
    background-image: url("/assets/images/wildwest-dark-background-7.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.img8{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: #222121;
    background-image: url("/assets/images/wildwest-dark-background-8.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}