

<body>
    <div class="img1" *ngIf="background1" [@inOutAnimation]></div>
    <div class="img2" *ngIf="background2" [@inOutAnimation]></div>
    <div class="img3" *ngIf="background3" [@inOutAnimation]></div>
    <div class="img4" *ngIf="background4" [@inOutAnimation]></div>
    <div class="img5" *ngIf="background5" [@inOutAnimation]></div>
    <div class="img6" *ngIf="background6" [@inOutAnimation]></div>
    <div class="img7" *ngIf="background7" [@inOutAnimation]></div>
    <div class="img8" *ngIf="background8" [@inOutAnimation]></div>
</body>



