.central-div{
    color: white;
    position: absolute;
    width: 25%;
    max-width: 30rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #1b1a1a;
    border-radius: 15px;
    padding: 10px;
    background:#222121;
}

