.confirmationSuccessDiv{
    position: absolute;
    max-width: 320px;
    width: 40%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 5px solid #1b1a1a;
    border-radius: 1rem;
    padding: 1rem;
    background:#222121;
    color: white;
}

